{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/style.css') }}">
{% endblock %}

{% block body %}

<table id="board">
    <col style="width:18%">
    <col style="width:18%">
    <col style="width:18%">
    <col style="width:15%">
    <col style="width:12%">
    <col style="width:2%">
    <col style="width:12%">

    <tr style="height:2%;">
        <td class="td1"><div class="etiquette">MONTH</div></td>
        <td class="td2"><div class="etiquette">DAY</div></td>
        <td class="td3"><div class="etiquette year">YEARS</div></td>
        <td class ="ampm" rowspan="2">
            <div style="display:block;">
                <div><div class="etiquette">AM</div></div>
                <div class="led-green"></div>
                <div><div class="etiquette">PM</div></div>
                <div class="led-grey"></div>
            </div
        </td>
        <td class="td4"><div class="etiquette">HOURS</div></td>
        <td class="deuxpoints"></td>
        <td><div class="etiquette">MIN</div></td>
    </tr>
    <tr class="trText">
        <td class="redDate"><div class="colorText">{{ (destination_time|date("F"))[:3] }}</div></td>
        <td class="redDate"><div class="colorText">{{ destination_time|date("d") }}</div></td>
        <td class="redDate"><div class="colorText">{{ destination_time|date("Y") }}</div></td>
        <td class="redDate"><div class="colorText">{{ destination_time|date("H") }}</div></td>
        <td class="deuxpoints">
            <div style="display:block;">
                <div class="led-green" style="margin:0 0 15% 0"></div>
                <div class="led-green"style="margin:40% 0 0 0"></div>
            </div>
        </td>
        <td class="redDate td5"><div class="colorText">{{ destination_time|date("i") }}</div></td>
    </tr>
    <tr><td colspan="7" class="txtTime"><div class="time">DESTINATION TIME</div></td></tr>
    <tr style="height:2%;">
        <td><div class="etiquette">MONTH</div></td>
        <td class="td2"><div class="etiquette">DAY</div></td>
        <td class="td3"><div class="etiquette year">YEARS</div></td>
        <td class ="ampm" rowspan="2">
            <div style="display:block;">
                <div><div class="etiquette">AM</div></div>
                <div class="led-green"></div>
                <div><div class="etiquette">PM</div></div>
                <div class="led-grey"></div>
            </div
        </td>
        <td class="td4"><div class="etiquette">HOURS</div></td>
        <td class="deuxpoints"></td>
        <td><div class="etiquette">MIN</div></td>
    </tr>
    <tr class="trText">
        <td class="greenDate"><div class="colorText">{{ (present_time|date("F"))[:3] }}</div></td>
        <td class="greenDate"><div class="colorText">{{ present_time|date("d") }}</div></td>
        <td class="greenDate"><div class="colorText">{{ present_time|date("Y") }}</div></td>
        <td class="greenDate"><div class="colorText">{{ present_time|date("H") }}</div></td>
        <td class="deuxpoints">
            <div style="display:block;">
                <div class="led-green" style="margin:0 0 15% 0"></div>
                <div class="led-green"style="margin:40% 0 0 0"></div>
            </div>
        </td>
        <td class="greenDate"><div class="colorText">{{ present_time|date("i") }}</div></td>
    </tr>
    <tr><td colspan="7" class="txtTime"><div class="time">PRESENT TIME</div></td></tr>
    <tr style="height:2%;">
        <td><div class="etiquette">MONTH</div></td>
        <td><div class="etiquette">DAY</div></td>
        <td><div class="etiquette year">YEARS</div></td>
        <td class ="ampm" rowspan="2">
            <div style="display:block;">
                <div><div class="etiquette">AM</div></div>
                <div class="led-green"></div>
                <div><div class="etiquette">PM</div></div>
                <div class="led-grey"></div>
            </div
        </td>
        <td><div class="etiquette">HOURS</div></td>
        <td class="deuxpoints"></td>
        <td><div class="etiquette">MIN</div></td>
    </tr>
    <tr class="trText">
        <td class="ylowDate"><div class="colorText">{{ (last_time_departed|date("F"))[:3] }}</div></td>
        <td class="ylowDate"><div class="colorText">{{ last_time_departed|date("d") }}</div></td>
        <td class="ylowDate"><div class="colorText">{{ last_time_departed|date("Y") }}</div></td>
        <td class="ylowDate"><div class="colorText">{{ last_time_departed|date("H") }}</div></td>
        <td class="deuxpoints">
            <div style="display:block;">
                <div class="led-green" style="margin:0 0 15% 0"></div>
                <div class="led-green"style="margin:40% 0 0 0"></div>
            </div>
        </td>
        <td class="ylowDate"><div class="colorText">{{ last_time_departed|date("i") }}</div></td>
    </tr>
    <tr><td colspan="7" class="txtTime"><div class="time">LAST TIME DEPARTED</div></td></tr>

</table>

{% endblock %}
