{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/style.css') }}">
{% endblock %}

{% block body %}

    <div id="test">
        <table id="board">
            <col style="width:18%">
            <col style="width:18%">
            <col style="width:18%">
            <col style="width:15%">
            <col style="width:12%">
            <col style="width:2%">
            <col style="width:12%">

            <tr style="height:2%;">
                <td class="td1">
                    <div class="etiquette">MONTH</div>
                </td>
                <td class="td2">
                    <div class="etiquette">DAY</div>
                </td>
                <td class="td3">
                    <div class="etiquette year">YEARS</div>
                </td>
                <td class="ampm" rowspan="2">
                    <div style="display:block;">
                        <div>
                            <div class="etiquette">AM</div>
                        </div>
                        <div class="{{ destination_time.date|date("A") == 'AM' ? 'led-green' : 'led-grey' }}"></div>
                        <div>
                            <div class="etiquette">PM</div>
                        </div>
                        <div class="{{ destination_time.date|date("A") == 'PM' ? 'led-green' : 'led-grey' }}"></div>
                    </div
                </td>
                <td class="td4">
                    <div class="etiquette">HOURS</div>
                </td>
                <td class="deuxpoints"></td>
                <td>
                    <div class="etiquette">MIN</div>
                </td>
            </tr>
            <tr class="trText">
                <td class="redDate">
                    <div class="colorText">{{ (destination_time.date|date("F"))[:3] }}</div>
                </td>
                <td class="redDate">
                    <div class="colorText">{{ destination_time.date|date("d") }}</div>
                </td>
                <td class="redDate">
                    <div class="colorText">{{ destination_time.date|date("Y") }}</div>
                </td>
                <td class="redDate">
                    <div class="colorText">{{ destination_time.date|date("H") }}</div>
                </td>
                <td class="deuxpoints">
                    <div style="display:block;">
                        <div class="led-green" style="margin:0 0 15% 0"></div>
                        <div class="led-green" style="margin:40% 0 0 0"></div>
                    </div>
                </td>
                <td class="redDate td5">
                    <div class="colorText">{{ destination_time.date|date("i") }}</div>
                </td>
            </tr>
            <tr>
                <td colspan="7" class="txtTime">
                    <div class="time">DESTINATION TIME</div>
                </td>
            </tr>
            <tr style="height:2%;">
                <td>
                    <div class="etiquette">MONTH</div>
                </td>
                <td class="td2">
                    <div class="etiquette">DAY</div>
                </td>
                <td class="td3">
                    <div class="etiquette year">YEARS</div>
                </td>
                <td class="ampm" rowspan="2">
                    <div style="display:block;">
                        <div>
                            <div class="etiquette">AM</div>
                        </div>
                        <div class="{{ present_time.date|date("A") == 'AM' ? 'led-green' : 'led-grey' }}"></div>
                        <div>
                            <div class="etiquette">PM</div>
                        </div>
                        <div class="{{ present_time.date|date("A") == 'PM' ? 'led-green' : 'led-grey' }}"></div>
                    </div
                </td>
                <td class="td4">
                    <div class="etiquette">HOURS</div>
                </td>
                <td class="deuxpoints"></td>
                <td>
                    <div class="etiquette">MIN</div>
                </td>
            </tr>
            <tr class="trText">
                <td class="greenDate">
                    <div class="colorText">{{ (present_time.date|date("F"))[:3] }}</div>
                </td>
                <td class="greenDate">
                    <div class="colorText">{{ present_time.date|date("d") }}</div>
                </td>
                <td class="greenDate">
                    <div class="colorText">{{ present_time.date|date("Y") }}</div>
                </td>
                <td class="greenDate">
                    <div class="colorText">{{ present_time.date|date("h") }}</div>
                </td>
                <td class="deuxpoints">
                    <div style="display:block;">
                        <div class="led-green" style="margin:0 0 15% 0"></div>
                        <div class="led-green" style="margin:40% 0 0 0"></div>
                    </div>
                </td>
                <td class="greenDate">
                    <div class="colorText">{{ present_time.date|date("i") }}</div>
                </td>
            </tr>
            <tr>
                <td colspan="7" class="txtTime">
                    <div class="time">PRESENT TIME</div>
                </td>
            </tr>
            <tr style="height:2%;">
                <td>
                    <div class="etiquette">MONTH</div>
                </td>
                <td>
                    <div class="etiquette">DAY</div>
                </td>
                <td>
                    <div class="etiquette year">YEARS</div>
                </td>
                <td class="ampm" rowspan="2">
                    <div style="display:block;">
                        <div>
                            <div class="etiquette">AM</div>
                        </div>
                        <div class="{{ last_time_departed.date|date("A") == 'AM' ? 'led-green' : 'led-grey' }}"></div>
                        <div>
                            <div class="etiquette">PM</div>
                        </div>
                        <div class="{{ last_time_departed.date|date("A") == 'PM' ? 'led-green' : 'led-grey' }}"></div>
                    </div
                </td>
                <td>
                    <div class="etiquette">HOURS</div>
                </td>
                <td class="deuxpoints"></td>
                <td>
                    <div class="etiquette">MIN</div>
                </td>
            </tr>
            <tr class="trText">
                <td class="ylowDate">
                    <div class="colorText">{{ (last_time_departed.date|date("F"))[:3] }}</div>
                </td>
                <td class="ylowDate">
                    <div class="colorText">{{ last_time_departed.date|date("d") }}</div>
                </td>
                <td class="ylowDate">
                    <div class="colorText">{{ last_time_departed.date|date("Y") }}</div>
                </td>
                <td class="ylowDate">
                    <div class="colorText">{{ last_time_departed.date|date("h") }}</div>
                </td>
                <td class="deuxpoints">
                    <div style="display:block;">
                        <div class="led-green" style="margin:0 0 15% 0"></div>
                        <div class="led-green" style="margin:40% 0 0 0"></div>
                    </div>
                </td>
                <td class="ylowDate">
                    <div class="colorText">{{ last_time_departed.date|date("i") }}</div>
                </td>
            </tr>
            <tr>
                <td colspan="7" class="txtTime">
                    <div class="time">LAST TIME DEPARTED</div>
                </td>
            </tr>

        </table>
    </div>
    <div id="travel"><input type="button" value="Voyage" id="buttonTravel"
                            onclick='window.location.href="{{ path('done', {date: destination_time.date}) }}"'></input>
    </div>
{% endblock %}
